/*place global styles here */
html, body { @apply h-full; }


/* Set the following in /src/app.postcss */

.prose {
	/* Modifying the H1 tag modifiers */
	@apply prose-h1:text-3xl prose-h1:md:text-5xl;

	/* Modifying the CODE element modifiers */
	@apply prose-code:bg-purple-500;
}
			